<h2 align="center">{{title}}</h2>

<div align= "center">
	<button class = "feedBackButton" style="background-color: #ef2d02" (click)="fast()">To fast</button>
	<br/>
	<br/>
	<button class="feedBackButton" style="background-color: #132ca5 " (click)="slow()">To slow</button>
</div>
<div align="center">
	<h3>
		Do you have a question?
	</h3>
	<div class="form-group">
		<label for="comment"></label>
		<textarea class="form-control" rows="5" id="question" style="max-width: 400px" #box (keyup.enter)= "writeQuestion(box.value)"></textarea>
		<br/>
		<button (click)="writeQuestion(box.value)" class="btn btn-default">Add</button>
		<br/>	
	</div>
	</div>
