<div class= "row">
	<div style=" max-width: 1000px" class="col-xs-12 col-sm-8 col-md-8 col-lg-8 col-xl-4">

		<h4>Select duration of votes (default is 5 minutes)</h4>
		<button class="btn btn-default" (click)="setMinutesAgo(2)">2 minutes</button>
		<button class="btn btn-default" (click)="setMinutesAgo(5)">5 minutes</button>
		<button class="btn btn-default" (click)="setMinutesAgo(10)">10 minutes</button>
		<button class="btn btn-default" (click)="setMinutesAgo(15)">15 minutes</button>
		<button class="btn btn-default" (click)="setMinutesAgo(30)">30 minutes</button>
		<div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
			<canvas baseChart width="10"
			[datasets] = "barChartDataExample"
			[labels] = "barChartLabels"
			[options] = "barChartOptions"
			[legend] = "barChartLegend"
			[chartType] = "barChartType"

			></canvas>

		</div>
	</div>

	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-2">
		<li *ngFor="let question of mockQuestions">
			<p class="questionsFeed">{{question.question}}</p>
		</li> 
	</div>
</div>