<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>{{title}}</h1>
    </div>
  </div>
  <div *ngIf="error" class="alert alert-danger">{{error}}</div>
  <div class="row">
    <div class="col-xs-12">
      <a [routerLink]="['/courses/create']" class="btn btn-default">Add new course</a>
      <a [routerLink]="['/courses/join']" class="btn btn-default">Join a course</a>
    </div>
  </div>
  <div class="row">
    <div *ngFor="let course of courses">
      <div (click)='goToDetail(course)' class="course-box col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
        <h4>{{course.name}}</h4>
        <h5>{{course.code}}</h5>
        <h6>{{course.term}} {{course.year}}</h6>
      </div>
    </div>
  </div>
</div>
