<div class="container">
  <div *ngIf="course != null" class="row">
    <div class="col-xs-12">
      <h1>{{course.name}}</h1>
      <p>{{course.code}} | {{course.term}} {{course.year}}</p>
      <h2>Lectures</h2>

      <table class="table">
          <tr *ngFor="let lecture of lectures">
              <td>{{lecture.title}}</td>
              <td>{{lecture.start_time | date:'dd. MMM HH.mm'}} - {{lecture.end_time | date:'dd. MMM HH.mm'}}</td>
              <td *ngIf="!lecture.pre_quiz"><a class="btn btn-default">Create pre-quiz</a></td>
              <td *ngIf="lecture.pre_quiz"><a class="btn btn-default">Pre-quiz</a></td>
              <td><a routerLink="/live/studentView" class="btn btn-default">Live View</a></td>
              <td *ngIf="!lecture.post_quiz"><a class="btn btn-default">Create post-quiz</a></td>
              <td *ngIf="lecture.post_quiz"><a class="btn btn-default">Post-quiz</a></td>
          </tr>
      </table>

      <button class="btn btn-default" (click)="goBack()">Back</button>
    </div>

  </div>
</div>
