<div class="col-lg-8">
	<h4>Select duration of votes (default is 5 minutes)</h4>
	<button class="btn btn-default" (click)="setMinutesAgo(2)">2 minutes</button>
	<button class="btn btn-default" (click)="setMinutesAgo(5)">5 minutes</button>
	<button class="btn btn-default" (click)="setMinutesAgo(10)">10 minutes</button>
	<button class="btn btn-default" (click)="setMinutesAgo(15)">15 minutes</button>
	<button class="btn btn-default" (click)="setMinutesAgo(30)">30 minutes</button>
	<div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
		<canvas baseChart width="10"
		[datasets] = "barChartDataExample"
		[labels] = "barChartLabels"
		[options] = "barChartOptions"
		[legend] = "barChartLegend"
		[chartType] = "barChartType"
		></canvas>
	</div>



	<div class="col-lg-6">
		<h4>These questions has been answered</h4>
		<div *ngIf="questions">
			<div *ngFor="let question of questions" [class]>
				<div *ngIf="question.answered">
					<div class="col-lg-12 panel panel-info" style="padding-left: 0; padding-right:0; ">
						<div class="clearfix panel-body" >
							<p style="word-wrap: break-word; ">{{question.question}}</p>
						</div>
						<div class="clearfix panel-footer" style="">
							<span style="float: left, top; font-size: 18px;">{{question.upvotes}} </span>
						</div>

					</div>
					<br/><br/>
				</div>
			</div>
		</div>
	</div>
</div>
<br/><br/><br/>
<div class="col-lg-4" style="align-content: left" >
	<h4>Student questions by votes</h4>
	<div *ngIf="questions">
		<div *ngFor="let question of questions" [class]>
			<div *ngIf="!question.answered">
				<div class="col-lg-10 panel panel-info" style="padding-left: 0; padding-right:0; word-wrap: break-word;">
					<div class="clearfix panel-body">
						<p>{{question.question}}</p>
					</div>
					<div class="clearfix panel-footer" style="">
						<div >
							<button class="btn btn-success pull-right" (click)="answered(question)">Answered</button>
						</div>
						<div>
							<span style="float: left, top; font-size: 18px;">{{question.upvotes}} </span>
						</div>
					</div>
				</div>
				<br/>
			</div>
		</div>
	</div>
</div>