	<div style=" max-width: 1000px" align="left">
		<h4>Select duration of votes (default is 5 minutes)</h4>
		<button class="btn btn-default" (click)="setMinutesAgo(2)">2 minutes</button>
		<button class="btn btn-default" (click)="setMinutesAgo(5)">5 minutes</button>
		<button class="btn btn-default" (click)="setMinutesAgo(10)">10 minutes</button>
		<button class="btn btn-default" (click)="setMinutesAgo(15)">15 minutes</button>
		<button class="btn btn-default" (click)="setMinutesAgo(30)">30 minutes</button>
		<canvas baseChart width="10"
		[datasets] = "barChartDataExample"
		[labels] = "barChartLabels"
		[options] = "barChartOptions"
		[legend] = "barChartLegend"
		[chartType] = "barChartType"

		></canvas>

	</div>
	<div *ngIf="questions">
	  	<div class="course-row" *ngFor="let question of questions" [class]>
	  		<div class="course-row">{{question.question}}, upvotes: {{question.upvotes}}, downvotes: {{question.downvotes}}
	  			<div>
	  				<button class="btn btn-success" (click)="answered(question.id)">delete</button>
	  			</div>
	  		</div>
	  	</div>	
  	</div>